body{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
	font-size: 12pt;
	color: #fff;
}

*::selection {
	background: rgb(220,220,220);
	background: rgba(255,255,255,0.133); /* WebKit/Blink Browsers */
}
*::-moz-selection  {
	background: rgb(220,220,220);
	background: rgba(255,255,255,0.133); /* Gecko Browsers */
}

section {
	width: 100vw;
	min-height: 10vh;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}

#info_box {
	/* Disabled for now */
	display: none; 
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

#info_icon {
	width: 24px;
	height: 24px;
	padding: 36px;
	position: relative;
}

#info_text {

}


#localTemp {
	height: 100vh;
}

.conditions {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-size: 100%;
}
/*	.foreground.snow {
		background-image: url('img/snow-front.png');
		animation: light_snow linear 24s infinite;
		-webkit-animation: light_snow linear 24s infinite;
	}
	.background.snow {
		background-image: url('img/snow-back.gif');
		animation: light_snow linear 36s infinite;
		-webkit-animation: light_snow linear 36s infinite;
	}*/

.display-lrg {
	text-align: center;
	width: 50%;
	padding: 0 16%;
	margin: 0 9%;
	/*border-radius: 4px;*/
}

.number {
	font-size: 12em;
}
.text {
	font-size: 3em;
	padding: 4px;
}

.location-line{
	min-height: 56px;
	margin: 4px;
	display: flex;
	justify-content: center;
}

#location {
	display: inline-block;
	min-width: 1em;
	max-width: 80%;
	min-height: 1em;
	padding: 4px 8px;
}

#location:hover {
	background: rgba(255,255,255,0.0667);
}

#location:focus {
	outline: none;
	background: rgb(220,220,220);
	background: rgba(255,255,255,0.0667);
	margin: -2px;
	border: 2px solid rgba(255,255,255,0.133);
}

.geolocate{
	display: inline-block;
	outline: none;
	border: none;
	height: 64px;
	width: 64px;
	cursor: pointer;
	z-index: 10;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: rgba(255,255,255,0.0);
	background-image: url('img/location.svg');
	background-size: 22px;

	-webkit-transition: all 0.05s ease-in-out;
	-moz-transition: all 0.05s ease-in-out;
	transition: all 0.05s ease-in-out;
}
.geolocate:hover{ 
	/*background-size: 23px;*/
	background-color: rgba(255,255,255,0.1);
}

.buttons {
	height: 56px;
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.buttons button {
	display: inline-block;
	outline: none;
	border: none;
	height: 56px;
	cursor: pointer;
	z-index: 10;
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: rgba(255,255,255,0.0);
	-webkit-transition: all 0.05s ease-in-out;
	-moz-transition: all 0.05s ease-in-out;
	transition: all 0.05s ease-in-out;
}

.shuffle {
	width: auto;
	/*background-image: url('img/shuffle.svg');*/
	background-size: 24px;
	font-size: 20px;
	line-height: 56px;
	font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
	color: inherit;
	text-align: center;
	text-decoration: none;

}
.shuffle:hover{
	text-decoration: underline;
	background-size: 32px;
}

.shuffle.loading{
	background-image: none;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.number {
		font-size: 6em;
	}
	.text {
		font-size: 2em;
	}
}
.divider {
	width: 100vw;
	height: 7rem;
	padding: 3.5rem 0 0 0;
	margin: 0;
	background-color: #333333;
	font-size: 3rem;
	line-height: 3.5rem;
	text-align: center;
}
#footer {
	height: 12vh;
}

.display-med {
	width: 100vw;
	margin: 0;
	padding: 0;
}


#forecast {
	padding: 0;
}
ul {
	display: block;
	margin: 0;
	padding: 0 0 ;
	list-style-type: none;
}

#forecast li {
	height: 7rem;
	padding: 3.5rem 0;
	margin: 0;
	list-style: none;
	font-size: 3rem;
	line-height: 3.5rem;
	text-align: center;
}

#forecast.full-width li {
	display: block;
	width: 100vw;
}

#forecast.one-line li {
	display: inline-block;
	float: left;
	width: 20%;
}


@keyframes light_snow {
	100% {
		background-position: 50% 0;
	}
	0% {
		background-position: 50% 100%;
	}
}

@-webkit-keyframes light_snow {
	100% {
		background-position: 50% 0;
	}
	0% {
		background-position: 50% 100%;
	}
}
